project_id             = "project"
region                 = "us-east4"
database_version       = "POSTGRES_14"
database_instance_tier = "db-g1-small"
database_name          = "postgres"

network_name               = "network-name" # Must already exist
private_service_connect_ip = "10.2.0.0"
firewall_source_range      = ["0.0.0.0/0"]
firewall_name              = "allow-postgres"

tier = "db-g1-small"

keyring = {
  location = "us-east4"
  name     = "postgres"
}

keys = {
  "postgres" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    lifecycle = {
      prevent_destroy = false
    }
  }
}