project_id = "my-project-id"
email      = "admin.user@example.google.com"
keyring = {
  location = "us-east4"
  name     = "todo-keyring"
}
prefix                   = "prefix-name"
name                     = "Name-of-the-Bucket"
location                 = "us-east4"
autoclass                = true
storage_class            = "STANDARD"
keys = {
  "default" = { # do not change
    destroy_scheduled_duration    = null
    rotation_period               = null
    labels                        = null
    purpose                       = "ENCRYPT_DECRYPT"
    skip_initial_version_creation = false
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }

    iam                   = {}
    iam_bindings          = {}
    iam_bindings_additive = {}
  }
}
