project_id = "project-id"

network_name = "dataflow-vpc"
subnet_name = "dataflow-subnet"
firewall_name = "allow-dataflow"
ip_cidr_range = "10.2.0.0/16"
allowed_source_ranges = ["0.0.0.0/0"]

prefix        = "dev"
storage_class = "STANDARD"
dataflow_name = "dataflow-job"
zone          = "us-east4-c"

bucket_name       = "dataflow-bucket"
template_gcs_path = "gs://dataflow-templates/latest/Word_Count" # Dataflow Template

parameters = {
  inputFile = "gs://dataflow-samples/shakespeare/kinglear.txt"
  output    = "gs://dev-dataflow-bucket/output" # must match bucket_name w/ prefix (e.g. dev-bucket-name)
}

keyring = {
  location = "us-east4"
  name     = "dataflow-job"
}

keys = {
  "dataflow-job" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    lifecycle = {
      prevent_destroy = false
    }
  }
}
