project_id = "my-project-id"
email      = "admin.user@example.google.com"
dataset_id = "dataset-id"
location   = "the-gcp-region"

keyring = {
  location = "the-gcp-region"
  name     = "my-keyring"
}

tables = {}

dataset_description = "N/A"

keys = {
  "default" = {
    destroy_scheduled_duration    = null
    rotation_period               = null
    labels                        = null
    purpose                       = "ENCRYPT_DECRYPT"
    skip_initial_version_creation = false
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }

    iam                   = {}
    iam_bindings          = {}
    iam_bindings_additive = {}
  }
}
