# use `gcloud beta billing accounts list`
# if you have too many accounts, check the Cloud Console :)
billing_account = {
  id = "012345-67890A-BCDEF0"
}

# locations for GCS, BigQuery, KMS, and logging buckets created here
locations = {
  bq      = "us-east4"
  gcs     = "us-east4"
  logging = "us-east4"
  pubsub  = ["us-east4"]
  kms     = "us-east4"
}

# use `gcloud organizations list`
organization = {
  domain      = "example.org"
  id          = 1234567890
  customer_id = "C000001"
}

outputs_location = "~/fast-config"

# use something unique and no longer than 9 characters
prefix = "abcd"
log_sinks = {
  audit-logs = {
      filter = "logName:\"/logs/cloudaudit.googleapis.com%2Factivity\" OR logName:\"/logs/cloudaudit.googleapis.com%2Fsystem_event\" OR protoPayload.metadata.@type=\"type.googleapis.com/google.cloud.audit.TransparencyLog\""
      type   = "pubsub"
    }
    vpc-sc = {
      filter = "protoPayload.metadata.@type=\"type.googleapis.com/google.cloud.audit.VpcServiceControlAuditMetadata\""
      type   = "pubsub"
    }
    workspace-audit-logs = {
      filter = "logName:\"/logs/cloudaudit.googleapis.com%2Fdata_access\" and protoPayload.serviceName:\"login.googleapis.com\""
      type   = "pubsub"
    }
}