project_id                 = "the-project-id"
compute_service_account_id = "compute-gsa-test"
keyring = {
  location = "us-east4"
  name     = "the-name-of-keyring"
}
location               = "the-gcp-location-of-compute-engine-vm"
zone                   = "the-gcp-zone-of-the-compute-engine-vm"
instance_name          = "the-name-of-the-instance"
instance_type          = "n2d-standard-2"
disksize               = 40
vpc_name               = "vpc-shieledvm"
subnet_name            = "subnet-one"
ip_cidr_range          = "10.0.1.0/24"
source_ranges_allowed  = ["10.0.1.0/24"]
allowed_firewall_ports = ["80", "22", "443"]
keys = {
  "default" = {
    destroy_scheduled_duration    = null
    rotation_period               = null
    labels                        = null
    purpose                       = "ENCRYPT_DECRYPT"
    skip_initial_version_creation = false
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    iam                   = {}
    iam_bindings          = {}
    iam_bindings_additive = {}
  }
}
