project_id  = "update-your-project_id"
region      = "us-east4"
gke_service_account_id               = "gke-service-account"
vpc_name                             = "name-of-the-gke-vpc"
subnet_name                          = "name-of-the-subnet"
subnet_ip_cidr_range_1               = "10.0.4.0/22"
subnet_secondary_ip_range_pods_1     = "10.4.0.0/14"
subnet_secondary_ip_range_services_1 = "10.0.32.0/20"
gke_vpc_master_ipv4_cidr_block       = "192.168.0.0/28"
master_authorized_ranges_ip_ranges   = "10.0.0.0/8"
gke_cluster_name                     = "gke-cluster-name"
gke_initial_node_per_zone            = 1
remove_default_node_pool             = true
node_config_tags                     = ["node-config-gke", "intial-nodeconfig-gke"]
gke_cluster_enable_private_endpoint  = true
gke_cluster_master_global_access     = true
gke_nodepool_name                    = "gke-nodepool-name"
node_disk_size_gb                    = 20
nodepool_node_count = {
  initial = 1
}
keyring = {
  location = "us-east4"
  name     = "gkekeyring"
}
keys = {
  "default" = {
    rotation_period            = "7776000s"
    destroy_scheduled_duration = "2592000s"
    labels = {
      "team" = "gke-team"
    }
    version_template = {
      algorithm        = "GOOGLE_SYMMETRIC_ENCRYPTION"
      protection_level = "HSM"
    }
    lifecycle = {
      prevent_destroy = true
    }
  }
}